@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {

  --color-darkGreen: oklch(0.35 0.14 142);
  --color-lightGreen: oklch(0.7152 0.2064 143.79);
  /*38C240*/
  --color-brandGreen: oklch(0.5233 0.1355 143.94);
  /*#2e7d31*/
  --color-brandLightGreen: oklch(0.9498 0.0874 146.28);
  --color-brandFont: oklch(0.2024 0.0031 196.91);


  --font-montserrat: "Montserrat", system-ui, sans-serif;

}

@font-face {
  font-family: 'NHaasGroteskDSPro';
  src: url('/fonts/NHaasGroteskDSPro-Reg.woff2') format('woff2'),
    url('/fonts/NHaasGroteskDSPro-Reg.woff') format('woff');
  font-weight: 400;
  /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NHaasGroteskDSPro';
  src: url('/fonts/NHaasGroteskDSPro-Bold.woff2') format('woff2');
  font-weight: 700;
  /* Bold */
  font-style: normal;
  font-display: swap;
}
html {
  /* This enables smooth scrolling for anchor links */
  scroll-behavior: smooth;
}
body {
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-family: 'NHaasGroteskDSPro', sans-serif;
}

@media (max-width: 457px) {
  .line {
    display: none;
    font-size: large;
  }
  .res-font{
    font-size: 40px;
  }
}